.main{
  margin: 0 auto;
  padding: 0;
  justify-content: center;

}

form {

                width:300px;
                margin:50px auto;
}
.search {

                padding:8px 15px;
                background:white;
                border:2px solid #dbdbdb;

}
.button {
                position:relative;
                padding:8px 15px;
                border:2px solid #207cca;
                background-color:#207cca;
                color:#fafafa;
}
.button:hover  {
                background-color:grey;
                color:#207cca;
}

.gallery {
  display: inline-block;
margin-bottom: 10px;
    padding: 20px;
    padding-bottom: 20px;

}

#layout {
  margin: 0 auto;
  width: 70%;
}

li,
ul
{
  text-align: center;
  display: inline-block;
  list-style-type: none;
}
.gallery img  {
    width: 100%;
    height: auto;
}
