* {
    box-sizing: border-box;
}

.main{
  margin: 0 auto;
  justify-content: center;

}

form {
                width:300px;
                margin:50px auto;
}
.search {
                padding:10px 20px;
                background:white;
                border:2px solid #dbdbdb;

}
.button {
                position:relative;
                padding:15px 15px;
                border:2px solid #207cca;
                background-color:#207cca;
                color:#fafafa;
}
.button:hover  {
                background-color:grey;
                color:#207cca;
}

.gallery {
    display: inline-block;
    padding: 20px;

}



li,
ul
{
  margin: 18px;
  text-align: center;
  display: inline-block;
  list-style-type: none;
}
.gallery img  {
    width: 100%;
    height: auto;
}
